<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Octavia_Assistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Octavia_Assistant.Properties.Settings>
      <setting name="fortniteplat" serializeAs="String">
        <value />
      </setting>
      <setting name="fortnite" serializeAs="String">
        <value />
      </setting>
      <setting name="bf1" serializeAs="String">
        <value />
      </setting>
      <setting name="bf1plat" serializeAs="String">
        <value />
      </setting>
      <setting name="bf3" serializeAs="String">
        <value />
      </setting>
      <setting name="bf3plat" serializeAs="String">
        <value />
      </setting>
      <setting name="bfhplat" serializeAs="String">
        <value />
      </setting>
      <setting name="bfh" serializeAs="String">
        <value />
      </setting>
      <setting name="hypixel" serializeAs="String">
        <value />
      </setting>
      <setting name="mixer" serializeAs="String">
        <value />
      </setting>
      <setting name="twitch" serializeAs="String">
        <value />
      </setting>
      <setting name="bf4" serializeAs="String">
        <value />
      </setting>
      <setting name="bf4plat" serializeAs="String">
        <value />
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="FrameRate" serializeAs="String">
        <value>15</value>
      </setting>
      <setting name="Quality" serializeAs="String">
        <value>95</value>
      </setting>
      <setting name="CaptureMC" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FollowMC" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptureRect" serializeAs="String">
        <value>Working Area</value>
      </setting>
      <setting name="ShowCountdown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowFlashing" serializeAs="String">
        <value>True</value>
      </setting>
    </Octavia_Assistant.Properties.Settings>
  </userSettings>
</configuration>